extends layout

block link
    link(href='/stylesheets/index.css' rel='stylesheet')

block content
    .main-grid
        .empty-flex-column
        section
            .main-title TheTheLab
                br
                | Gallery
            .filter-navigator
                .scroll-filter
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
                    input.none
                .tag-zone
                    //.tag #hello
                    //.tag #hi
                    //.tag #good
                    //.tag #climax
                    //.tag #likely
                    //.tag #better
                label.switch
                    input(type='checkbox')
                    span.slider.round
            .gallery

            footer.text-muted
                p.float-right
                    a(href='/') Back to top
        .empty-flex-column





