extends layout

block link
    link(href='/stylesheets/index.css' rel='stylesheet')
    link(rel="stylesheet", href="/stylesheets/slider.css")


block content
    .main-grid
        .empty-flex-column
        section
            .main-title TheTheLab
                br
                | Gallery
                .swiper-container
                    .swiper-wrapper
                        #group-image.swiper-slide
                        #group-image2.swiper-slide
                        #group-seated.swiper-slide
                        #group-water.swiper-slide
                    // Add Pagination
                    .swiper-pagination
                    // Add Arrows
                    .swiper-button-next.swiper-color
                    .swiper-button-prev.swiper-color
            .filter-navigator
                .search-zone
                    .scroll-filter
                        //input(type="text" placeholder="min").min
                        //input(type="text" placeholder="max").max
                    form.form-inline.my-2.my-lg-0.margin-0.margin-left
                        input.form-control.mr-sm-2(type='text' placeholder='' aria-label='')
                        input.none
                    .search-bar Search
                    .tag-zone
                    .flex
                    label.switch
                        input(type='checkbox')
                        span.slider.round

            .gallery
              .main-mode
              .list-mode.display-none
                .list-header
                    .list-name.list-header-content 이름
                    .list-tag.list-header-content 태그
                .list-content

            footer.text-muted
                p.float-right
                    a(href='/') Back to top
        .empty-flex-column


    script(src='/javascripts/gallery.slider.js')

    script(src='/javascripts/layout.js')



