@import global

.main-grid
  display: flex
  section
    width: 100%
    .main-title
      position: relative
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      pointer-events: none

      z-index: 10
      cursor: pointer

      width: 100%
      //box-shadow: 0 0 10px 10px rgb(0, 0, 0) inset

      //color: rgba(255, 255, 255, 0.7)
      text-align: center
      //font-style: italic

      //font-family: 'Merienda', cursive

      .swiper-container
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        margin-left: auto
        margin-right: auto
        pointer-events: all
        cursor: pointer
        opacity: 0.8

      .swiper-slide
        text-align: center
        font-size: 18px
        background: black
        /* Center slide text vertically
        display: -webkit-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        -webkit-justify-content: center
        justify-content: center
        -webkit-box-align: center
        -ms-flex-align: center
        -webkit-align-items: center
        align-items: center

      img
        background-color: yellow
        width: 100%
        height: 100%

      #group-image
        background: url("../images/medium/2A7A6122_medium.jpg") no-repeat
        background-position: 0 73%
        background-size: 100% auto

      #group-image2
        background: url("../images/medium/2A7A6097_medium.jpg") no-repeat
        background-position: 0 76%
        background-size: 100% auto

      #group-seated
        background: url("../images/medium/20180717_134356_medium.jpg") no-repeat center
        background-size: 100% auto

      #group-water
        background: url("../images/medium/20180717_173151_medium.jpg") no-repeat
        background-position: 0 60%
        background-size: 100% auto

    .filter-navigator

      width: 100%
      min-height: 60px
      margin: 10px 0
      padding: 0 15px

      background-color: white
      //border-top : 2px solid #cccccc
      border-bottom: 1px solid #ddd
      //box-shadow: 0 3px 10px 0
      z-index: 1000
      .search-zone
        display: flex
        align-items: center
        height: 60px
        // Search
        form.form-inline.my-2.my-lg-0
          margin-left: 20px
          height: 20px
          .none
            display: none
          input
            width: 160px
            height: 32px
            outline: none

      // Tags
      .tag-zone
        display: flex
        flex-wrap: wrap
        padding: 8px 16px 0 40px
        height: 100%
        //border: 1px solid red
        overflow-y: auto
        align-items: center
        > .tag
          margin-right: 16px
          margin-bottom: 16px
          margin-top: 4px
          transition-property: color
          cursor: pointer
          background: white
          color: #555
          height: 32px
          font-size: 14px
          padding: 4px 8px
          border: 1px solid #555
          border-radius: 10px
          max-width: 70px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          &:hover
            color: white
            background: #555

      // Toggle Switch
      .switch
        position: relative
        display: inline-block
        width: 60px
        height: 30px
        margin-top: 5px
        input
          display: none
        .slider
          position: absolute
          cursor: pointer
          top: 0
          left: 0
          right: 0
          bottom: 0
          background-color: #555
          -webkit-transition: .4s
          transition: .4s
          &:before
            position: absolute
            content: ""
            height: 22px
            width: 22px
            left: 4px
            bottom: 4px
            background-color: white
            -webkit-transition: .4s
            transition: .4s
        input
          &:checked + .slider
            background-color: #555
          &:focus + .slider
            box-shadow: 0 0 1px #2196F3
          &:checked + .slider:before
            -webkit-transform: translateX(30px)
            -ms-transform: translateX(30px)
            transform: translateX(30px)
        /* Rounded sliders
        .slider.round
          border-radius: 34px
          &:before
            border-radius: 50%

    .gallery
      width: 100%

  .empty-flex-column
    flex: 1

@media screen and (min-width: 1200px)
  //section
  //  width: 1110px
  .main-title
    height: 450px
    font-size: 5rem

@media screen and (max-width: 1200px)
  //section
  //  width: 930px

  .main-title
    height: 400px
    font-size: 4rem

@media screen and (max-width: 990px)
  //section
  //  width: 690px

  .main-title
    height: 350px
    font-size: 3rem

@media screen and (max-width: 767px)
  //section
  //  width: 510px

  .main-title
    height: 200px
    font-size: 2rem

@media screen and (max-width: 353px)
  .main-title
    height: 150px
    font-size: 1rem

.swiper-color
  filter: brightness(0)



.flex
  flex: 1


.search-bar
  width: 68px
  height: 32px
  border-radius: 5px
  background: #555
  color: #fff
  line-height: 32px
  padding-left: 10px
  text-align: center
  font-size: 15px
  cursor: pointer
  &:active
    background: #444

.margin-0
  margin: 0

.margin-left
  margin-left: 24px !important