
.slider-zone
  width: 400px
  height: 40px
  margin: auto
  display: flex
  justify-content: center
  align-items: center

  .bar
    width: 95%
    height: 30%
    border: solid 1px #eeeeee
    border-radius: 12px
    display: flex
    position: relative
    box-shadow: 0 4px 4px 0 rgba(139, 139, 139, 0.18)
    .line
      position: absolute
      top: 15px
      width: 0.5px
      height: 8px
      border: solid 0.5px rgba(84, 91, 97, 0.2)

    .circle
      position: absolute
      width: 15px
      height: 24px
      border-radius: 3px
      background: rgba(0, 131, 183, 0.85)
      top: -4px
      z-index: 3
      box-shadow: 0 4px 4px 0 rgba(51, 100, 139, 0.18)

      &:hover
        cursor: pointer
      &.left
        left: 0
      &.right
        right: 0
      .circle-number
        color: white
        font-size: 15px
        text-align: center


.number-zone
  width: 400px
  height: 25px
  display: flex
  .empty-zone
    flex: 1
  .number
    height: 100%
    width: 30px
    margin: 0 8px
    border: solid 1px #eeeeee
    border-radius: 5px
    background: white
